<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CenterMedic"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCmiY-EOV5_hes2Vtn7R3zJen3pcA_-rYE" />

        <activity
            android:name=".activity.Sede"
            android:exported="false" />
        <activity
            android:name=".activity.HorarioBuscar"
            android:exported="false" />
        <activity
            android:name=".activity.EspecialidadBuscar"
            android:exported="false" />
        <activity
            android:name=".activity.PacienteBuscar"
            android:exported="false" />
        <activity
            android:name=".activity.Menu"
            android:exported="false" />
        <activity
            android:name=".activity.MainPage"
            android:exported="false" />
        <activity
            android:name=".activity.Cita"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:exported="false" />
        <activity
            android:name=".activity.UserRegister"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>